body{
    display: flex;
    background-color: #333;
}
#left-pane{
    display: flex;
    flex-grow: 1;
    max-width: 20%;
    background-color: blue;
}
#mid-pane{
    display: flex;
    flex-grow: 1;
    min-width: 50%;
    max-width: 80%;
    height: 100vh;
    background-color: blueviolet;
}
#right-pane{
    display: flex;
    flex-grow: 1;
    max-width: 20%;
    background-color: blue;
}
#in-left{
    display: flex;
    flex-grow: 1;
    width: 40%;
    background-image: url('buddy-photo-Wcab0_0pgKo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#in-right{
    display: flex;
    flex-grow: 1;
    width: 60%;
}
