body {
    margin: 0;
    display: flex;
    /* background-color: #282727; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: rgb(187, 194, 200);

}
/* to remove up and down arrows from number form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* to remove up and down arrows from number form */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#left-pane {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    max-width: 45%;
    background-color: rgba(69, 63, 63, 0.851);
    background-image: url('pexels-sheinshine-3127880.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

footer {
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 8px;
}

#right-pane {
    display: flex;
    flex-grow: 1;
    max-width: 55%;
    background-color: rgb(54, 54, 54);
    flex-direction: column;
}

#banner {
    background-color: rgb(0, 0, 0, 0.3);
    margin-top: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

#shop {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
    color: black;
}

fieldset{
    border-style: none;
    padding: 0;
}
#sign-up-form{
    display: flex;
    gap: 2em;
}
#left-container, #right-container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    
}
label{
    padding: 2%;
    color: rgb(187, 194, 200);
}
input{
    width: 20em;
    font-size: 1.1em;
    background-color: rgb(114, 161, 181);
    border-width: 3px;
    border-color: rgb(102, 145, 163);
    border-radius: 5px;
    height: 1.5em;
    outline: none;
    border-style: solid;
}
input:focus{
    border-color: rgb(42, 81, 97) ;
    
}
button{
    margin: 2%;
    padding: 0.6em 3em;
    background-color: rgb(114, 161, 181);
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 1em;
    border-width: 3px;
    border-color: rgb(102, 145, 163);
    border-radius: 5px;
    border-style: solid;
}
button:active{
    border-color: rgb(42, 81, 97) ;
    background-color:  rgb(72, 122, 141) ;
}
.text{
    padding: 0 3% 3% 3%;
    font-size: 2em;
    width: 65%;
    margin-bottom: 0;
}
#text-container{
    padding-top: 10%;
}
legend{
    font-size: 2em;
    margin-left: 2%;
}

#form-container{
    box-shadow: #242323;
    background-color: #414040;
    padding-top: 2%;
}
